In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C://Users/20385265035/Desktop/Proyectos de Python/datasets/PCLConComunas.txt",sep=";")

In [3]:
data.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
0,1091700,EX-2022-35077150- -GCABA-DGDCC,2017,27006780,47167378,NaN,PETRENKO,SASHA,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0
1,1089273,EX-2022-33351911- -GCABA-DGDCC,2017,27004375,47277029,NaN,COLSO,GASTON ARIEL,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0
2,1434922,EX-2022-36342896- -GCABA-DGDCC,2022,27093433,22125866,2.022126e+10,TARANTINO,ANGEL,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
3,1453226,EX-2022-37612807- -GCABA-DGDCC,2022,37611349,17849160,2.717849e+10,VEGA,SANDRA MIRIAM,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
4,1454276,EX-2022-38324657- -GCABA-DGDCC,2022,38323456,46758907,2.046759e+10,LUNA,PABLO,Comuna 1,1,Constitucion,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape ##para ver el tamaño del dataset

(1747, 17)

De esta forma puedo seleccionar solamente las primeras 20 filas

In [5]:
data[:20]
data.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
0,1091700,EX-2022-35077150- -GCABA-DGDCC,2017,27006780,47167378,NaN,PETRENKO,SASHA,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0
1,1089273,EX-2022-33351911- -GCABA-DGDCC,2017,27004375,47277029,NaN,COLSO,GASTON ARIEL,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0
2,1434922,EX-2022-36342896- -GCABA-DGDCC,2022,27093433,22125866,2.022126e+10,TARANTINO,ANGEL,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
3,1453226,EX-2022-37612807- -GCABA-DGDCC,2022,37611349,17849160,2.717849e+10,VEGA,SANDRA MIRIAM,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
4,1454276,EX-2022-38324657- -GCABA-DGDCC,2022,38323456,46758907,2.046759e+10,LUNA,PABLO,Comuna 1,1,Constitucion,NaN,NaN,NaN,NaN,NaN,NaN

De esta forma puedo seleccionar entre el registro 10 y el 25

In [6]:
dataParcial = data[10:25]

In [7]:
##Usuarios con anio_rib = 2017 - 
data1 = data[data["ANIO_RIB"] < 2017]
data1.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
9,805566,EX-2022-33015072- -GCABA-DGDCC,2014,18302382,47072882,NaN,ACOSTA FLOR,ALICIA,Comuna 1,3,Constitucion,NaN,NaN,12.0,NaN,NaN,NaN
10,805237,EX-2022-39437818- -GCABA-DGDCC,2014,18301041,47390138,NaN,OCAMPOS RUIZ DIAZ,YANINA,Comuna 1,3,Constitucion,NaN,NaN,12.0,NaN,NaN,NaN
34,415795,EX-2022-32267846- -GCABA-DGDCC,2014,1066022,94436425,2.794436e+10,TACANGA ZEVALLOS,VALERIA ROMINA,Comuna 1,2,Retiro,Comuna 1,3.0,29.0,Retiro,NaN,29.0
35,354940,EX-2022-36900557- -GCABA-DGDCC,2014,1007008,47027883,2.047028e+10,ROJAS,THIAGO YOEL,Comuna 1,1,Monserrat,NaN,NaN,33.0,NaN,NaN,NaN
36,478457,EX-2022-34163651- -GCABA-DGDCC,2014,2674096,45416911,NaN,VARGAS,MAYRA ANAHI,Comuna 1,2,Retiro,Comuna 1,3.0,29.0,Retiro,NaN,29.0

In [8]:
data1.shape ##para ver el tamaño del dataset

(549, 17)

In [9]:
##personas de la comuna 10
data2 = data[data["COMUNA"]=="Comuna 10"]
data2.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
81,1456995,EX-2022-40265807- -GCABA-DGDCC,2022,40261092,27779974,2.727780e+10,LOPEZ,VANESA,Comuna 10,1,Villa Luro,Comuna 10,12.0,NaN,Villa Luro,NaN,41.0
82,1065840,EX-2022-34163906- -GCABA-DGDCC,2017,26980721,46119532,NaN,RODRIGUEZ,LEONARDO TEHUEL,Comuna 10,3,Floresta,Comuna 10,12.0,14.0,Floresta,NaN,14.0
83,1451895,EX-2022-36900346- -GCABA-DGDCC,2022,36899359,45075522,2.045076e+10,ZABALA,MANUEL,Comuna 10,1,Villa Luro,Comuna 10,12.0,NaN,Villa Luro,NaN,41.0
84,954002,EX-2022-31556995- -GCABA-DGDCC,2017,13283901,94903204,2.794903e+10,HUAMAN,MEHILY,Comuna 10,3,VÃ©lez Sarsfield,Comuna 10,12.0,34.0,VÃ©lez Sarsfield,NaN,34.0
85,875893,EX-2022-35239554- -GCABA-DGDCC,2022,35238016,45824967,2.345825e+10,PRIETO,TOBIAS,Comuna 10,1,Monte Castro,Comuna 10,12.0,NaN,Monte Castro,NaN,18.0

In [10]:
data2.shape ##para ver el tamaño del dataset

(87, 17)

In [11]:
##AND -> & , OR-> |

In [12]:
##AND -> & Utilizamos el AND para traer los datos que cumplan con las dos condiciones, sin el ( ), no va a devolver nada
data3 = data[(data["ANIO_RIB"]<2017) & (data["COMUNA"]=="Comuna 10")]
data3.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
124,881448,EX-2022-31755185- -GCABA-DGDCC,2016,11662696,45537822,2.045538e+10,PERALTA,ARIEL,Comuna 10,3,NaN,NaN,NaN,44.0,NaN,NaN,NaN
134,885317,EX-2022-33187435- -GCABA-DGDCC,2016,12540786,46915100,NaN,OBREDOR,SANTIAGO,Comuna 10,1,Monte Castro,Comuna 10,12.0,NaN,Monte Castro,NaN,18.0
135,886024,EX-2022-33580996- -GCABA-DGDCC,2016,12736466,46210936,2.346211e+10,SIMONETTI,LUCA,Comuna 10,1,Versalles,Comuna 10,12.0,NaN,Versalles,NaN,35.0
136,888071,EX-2022-40002513- -GCABA-DGDCC,2016,13427531,46582764,NaN,TRELEANI,JUAN,Comuna 10,1,Monte Castro,Comuna 10,12.0,NaN,Monte Castro,NaN,18.0
137,878835,EX-2022-33580528- -GCABA-DGDCC,2016,11032044,46704855,2.046705e+10,VAZQUEZ,NICOLAS,Comuna 10,1,Monte Castro,Comuna 10,12.0,NaN,Monte Castro,NaN,18.0

In [13]:
data3.shape

(35, 17)

In [14]:
#OR-> |
data4 = data[(data["ANIO_RIB"]<2017) | (data["COMUNA"]=="Comuna 10")]
data4.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
9,805566,EX-2022-33015072- -GCABA-DGDCC,2014,18302382,47072882,NaN,ACOSTA FLOR,ALICIA,Comuna 1,3,Constitucion,NaN,NaN,12.0,NaN,NaN,NaN
10,805237,EX-2022-39437818- -GCABA-DGDCC,2014,18301041,47390138,NaN,OCAMPOS RUIZ DIAZ,YANINA,Comuna 1,3,Constitucion,NaN,NaN,12.0,NaN,NaN,NaN
34,415795,EX-2022-32267846- -GCABA-DGDCC,2014,1066022,94436425,2.794436e+10,TACANGA ZEVALLOS,VALERIA ROMINA,Comuna 1,2,Retiro,Comuna 1,3.0,29.0,Retiro,NaN,29.0
35,354940,EX-2022-36900557- -GCABA-DGDCC,2014,1007008,47027883,2.047028e+10,ROJAS,THIAGO YOEL,Comuna 1,1,Monserrat,NaN,NaN,33.0,NaN,NaN,NaN
36,478457,EX-2022-34163651- -GCABA-DGDCC,2014,2674096,45416911,NaN,VARGAS,MAYRA ANAHI,Comuna 1,2,Retiro,Comuna 1,3.0,29.0,Retiro,NaN,29.0

In [15]:
data4.shape ##EL RESULTADO ES LA CANTIDAD DATOS COINCIDENTES CON LA COMUNA 10 + LA CANTIDAD DE CASOS CON RIB MENORES A 2017 -(MENOS) LOS CASOS QUE SE REPITEN(35)

(601, 17)

In [16]:
data5 = data[(data["NUMERO_RIB"] > data["NUMERO_DOCUMENTO"]) & (data["COMUNA"]=="Comuna 10")] #en este caso quiero traer los datos que su numero de rib sea mayor que su numero de documento y cruzo los que son de la comuna 10

In [17]:
data5.shape

(7, 17)

# Subconjuntos con loc e iloc y creacion de nuevas columnas

In [18]:
#Nombre, apellido y comuna de los primeros 50
subset_first_50 = data[["NOMBRE","APELLIDO","COMUNA"]][:50]
subset_first_50.head()

          NOMBRE   APELLIDO    COMUNA
0          SASHA   PETRENKO  Comuna 1
1   GASTON ARIEL      COLSO  Comuna 1
2          ANGEL  TARANTINO  Comuna 1
3  SANDRA MIRIAM       VEGA  Comuna 1
4          PABLO       LUNA  Comuna 1

In [19]:
subset_first_50.shape

(50, 3)

##(primero las filas y despues las columnas)consulto indice y columna del dataset original en un solo corchete

In [20]:
data.iloc[1:10 , 3:6]

   NUMERO_RIB  NUMERO_DOCUMENTO          CUIL
1    27004375          47277029           NaN
2    27093433          22125866  2.022126e+10
3    37611349          17849160  2.717849e+10
4    38323456          46758907  2.046759e+10
5    31930493          46656116  2.346656e+10
6    35237956          47168276  2.047168e+10
7    32651345          46215029  2.746215e+10
8    35238012          46917903  2.046918e+10
9    18302382          47072882           NaN

## Todas las filas y las columnas entre las 3 y 6

In [21]:
data.iloc[: , 3:6]

      NUMERO_RIB  NUMERO_DOCUMENTO          CUIL
0       27006780          47167378           NaN
1       27004375          47277029           NaN
2       27093433          22125866  2.022126e+10
3       37611349          17849160  2.717849e+10
4       38323456          46758907  2.046759e+10
...          ...               ...           ...
1742      966225          47429904  2.747430e+10
1743     1031665          47390086  2.747390e+10
1744      885173          47171299  2.047171e+10
1745      813135          46758282  2.746758e+10
1746     1005838          44553635  2.744554e+10

[1747 rows x 3 columns]

## Las filas entre el 1 y el 10 y todas las columnas

In [22]:
data.iloc[1:10,:]

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
1,1089273,EX-2022-33351911- -GCABA-DGDCC,2017,27004375,47277029,NaN,COLSO,GASTON ARIEL,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0
2,1434922,EX-2022-36342896- -GCABA-DGDCC,2022,27093433,22125866,2.022126e+10,TARANTINO,ANGEL,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
3,1453226,EX-2022-37612807- -GCABA-DGDCC,2022,37611349,17849160,2.717849e+10,VEGA,SANDRA MIRIAM,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
4,1454276,EX-2022-38324657- -GCABA-DGDCC,2022,38323456,46758907,2.046759e+10,LUNA,PABLO,Comuna 1,1,Constitucion,NaN,NaN,NaN,NaN,NaN,NaN
5,1441684,EX-2022-31932672- -GCABA-DGDCC,2022,31930493,46656116,2.346656e+10,YMFELD,GONZALO,Comuna 1,1,San Nicolas,NaN,NaN,NaN,NaN,NaN,NaN
6,1447053,EX-2022-35239277- -GCABA-DGDCC,2022,35237956,47168276,2.047168e+10,OCONOR,PEDRO,Comuna 1,1,Constitucion,NaN,NaN,NaN,NaN,NaN,NaN
7,1442762,EX-2022-32653721- -GCABA-DGDCC,2022,32651345,46215029,2.746215e+10,GEIZT REYES,MORA NUIL,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
8,1447072,EX-2022-35239524- -GCABA-DGDCC,2022,35238012,46917903,2.046918e+10,MARTINA,MAXIMO,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
9,805566,EX-2022-33015072- -GCABA-DGDCC,2014,18302382,47072882,NaN,ACOSTA FLOR,ALICIA,Comuna 1,3,Constitucion,NaN,NaN,12.0,NaN,NaN,NaN

##  Se filtran de entre las filas 1 y 10 con las columnas en la posicion 2,3,5,7 y 10

In [23]:
data.iloc[1:10,[2,3,5,7,10]]

   ANIO_RIB  NUMERO_RIB          CUIL         NOMBRE        BARRIO
1      2017    27004375           NaN   GASTON ARIEL  San NicolÃ¡s
2      2022    27093433  2.022126e+10          ANGEL     Monserrat
3      2022    37611349  2.717849e+10  SANDRA MIRIAM     Monserrat
4      2022    38323456  2.046759e+10          PABLO  Constitucion
5      2022    31930493  2.346656e+10        GONZALO   San Nicolas
6      2022    35237956  2.047168e+10          PEDRO  Constitucion
7      2022    32651345  2.746215e+10      MORA NUIL     Monserrat
8      2022    35238012  2.046918e+10         MAXIMO     Monserrat
9      2014    18302382           NaN         ALICIA  Constitucion

## Traigo las filas 1,5,8 y 36 + las columnas seleccionadas por el nombre

In [24]:
data.loc[[1,5,8,36],["ANIO_RIB","NUMERO_RIB","NOMBRE","APELLIDO","COMUNA"]]

    ANIO_RIB  NUMERO_RIB        NOMBRE APELLIDO    COMUNA
1       2017    27004375  GASTON ARIEL    COLSO  Comuna 1
5       2022    31930493       GONZALO   YMFELD  Comuna 1
8       2022    35238012        MAXIMO  MARTINA  Comuna 1
36      2014     2674096   MAYRA ANAHI   VARGAS  Comuna 1

# ## CREAR UNA NUEVA COLUMNA

### Sumo el numero rib mas el numero de documento y creo una columna nueva

In [25]:
data["Total RIBSDNI"] = data["NUMERO_RIB"] + data["NUMERO_DOCUMENTO"]

In [26]:
data.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO,Total RIBSDNI
0,1091700,EX-2022-35077150- -GCABA-DGDCC,2017,27006780,47167378,NaN,PETRENKO,SASHA,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0,74174158
1,1089273,EX-2022-33351911- -GCABA-DGDCC,2017,27004375,47277029,NaN,COLSO,GASTON ARIEL,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0,74281404
2,1434922,EX-2022-36342896- -GCABA-DGDCC,2022,27093433,22125866,2.022126e+10,TARANTINO,ANGEL,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN,49219299
3,1453226,EX-2022-37612807- -GCABA-DGDCC,2022,37611349,17849160,2.717849e+10,VEGA,SANDRA MIRIAM,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN,55460509
4,1454276,EX-2022-38324657- -GCABA-DGDCC,2022,38323456,46758907,2.046759e+10,LUNA,PABLO,Comuna 1,1,Constitucion,NaN,NaN,NaN,NaN,NaN,NaN,85082363

### Sumo el nombre + un espacio + el apellido y creo una columna nueva

In [27]:
data["Nombre apellido"] = data["NOMBRE"] +" "+ data["APELLIDO"]

In [28]:
data.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO,Total RIBSDNI,Nombre apellido
0,1091700,EX-2022-35077150- -GCABA-DGDCC,2017,27006780,47167378,NaN,PETRENKO,SASHA,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0,74174158,SASHA PETRENKO
1,1089273,EX-2022-33351911- -GCABA-DGDCC,2017,27004375,47277029,NaN,COLSO,GASTON ARIEL,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0,74281404,GASTON ARIEL COLSO
2,1434922,EX-2022-36342896- -GCABA-DGDCC,2022,27093433,22125866,2.022126e+10,TARANTINO,ANGEL,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN,49219299,ANGEL TARANTINO
3,1453226,EX-2022-37612807- -GCABA-DGDCC,2022,37611349,17849160,2.717849e+10,VEGA,SANDRA MIRIAM,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN,55460509,SANDRA MIRIAM VEGA
4,1454276,EX-2022-38324657- -GCABA-DGDCC,2022,38323456,46758907,2.046759e+10,LUNA,PABLO,Comuna 1,1,Constitucion,NaN,NaN,NaN,NaN,NaN,NaN,85082363,PABLO LUNA

In [32]:
data["Nombre apellido"].head()

0        SASHA PETRENKO
1    GASTON ARIEL COLSO
2       ANGEL TARANTINO
3    SANDRA MIRIAM VEGA
4            PABLO LUNA
Name: Nombre apellido, dtype: object

In [31]:
data.shape

(1747, 19)

# Generacion de numeros aleatorios (PSEUDO RANDOM NUMBERS)

In [33]:
import numpy as np

In [45]:
#generar un numero aleatorio entre 1 y 100
np.random.randint(1,100)

84

In [54]:
#la forma mas clasica de generar un numero aleatorio es entre 0 y 1 (con decimales)
np.random.random()

0.5455369420717563

In [60]:
range(8) # simboliza un array que empieza y termina en 8

range(0, 8)

In [68]:
## Funcion que genera una lista de n numeros aleatorios enteros dentro del intervalo a,b
def randint_list(n,a,b):
    x = [] #declarar un array vacio
    for i in range (n):
        x.append(np.random.randint(a,b)) #añadir al final del array
    return x

In [69]:
randint_list(25,1,50) # le pido 25 numeros aleatorios entre 1 y 50

[7,
 15,
 17,
 16,
 2,
 5,
 12,
 41,
 6,
 14,
 46,
 8,
 38,
 41,
 6,
 16,
 34,
 41,
 37,
 39,
 49,
 44,
 16,
 8,
 13]

In [73]:
import random

In [77]:
print( random.randrange(0,100,7) )#generar un rango entre 0 y 100 y que sean multiplos del primero+7

63

In [80]:
for i in range(10):
    print( random.randrange(1,100,6) ) #multiplos de 7. 1+6

91
19
13
25
79
67
19
85
7
37

### Shuffling - Barajar las cartas

In [85]:
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [87]:
np.random.shuffle(a)
a

array([93, 47, 35, 63,  6, 98, 80, 96, 86, 94, 84, 23, 75, 95, 15, 24, 11,
       64, 43, 90, 32, 36, 25, 69, 39, 56, 14, 85, 77, 73, 97, 41, 30, 10,
       52,  9, 13, 74, 61, 71, 91,  4, 28, 21, 29, 81,  5, 78,  3,  8, 57,
        7, 20, 55, 54, 40, 62, 17, 83, 89, 12, 59,  1, 53, 37, 38, 45, 50,
        2, 51,  0, 16, 65, 46, 19, 34, 79, 22, 31, 70, 72, 76, 42, 82, 87,
       67, 18, 49, 27, 58, 44, 33, 99, 60, 66, 92, 26, 88, 48, 68])

In [89]:
np.random.shuffle(a)
a

array([ 9,  7, 27, 89,  4, 55,  0, 30, 64, 24, 66, 80, 42, 21, 41, 16, 98,
       70, 95, 35, 85, 93, 46, 45, 88,  5, 76, 75, 72,  3, 94, 52, 38,  6,
       36, 56, 79, 10, 84, 71, 54, 59, 31, 53, 18, 23, 62,  2, 96, 11, 74,
       40, 33, 82, 50, 61, 49, 99, 15, 83, 78, 47, 69, 92, 87, 90, 13, 57,
       14, 43, 48, 77, 97, 44, 51, 22,  8, 37, 58, 12, 73, 39,  1, 25, 34,
       86, 91, 26, 20, 68, 60, 32, 67, 17, 29, 19, 63, 65, 81, 28])

### Choice - seleccionar al azar un objeto del conjunto

In [91]:
data.shape

(1747, 19)

In [93]:
colum_list = data.columns.values.tolist()
colum_list

['ID_REGISTRO',
 'EXPEDIENTE_PSOC',
 'ANIO_RIB',
 'NUMERO_RIB',
 'NUMERO_DOCUMENTO',
 'CUIL',
 'APELLIDO',
 'NOMBRE',
 'COMUNA',
 'FK_TIPO_DOMICILIO',
 'BARRIO',
 'DESCRIPCION_COMUNA',
 'ID_COMUNA',
 'FK_BARRIO',
 'DESCRIPCION_SIS_BARRIO',
 'DESCRIPCION_CORTA',
 'ID_BARRIO',
 'Total RIBSDNI',
 'Nombre apellido']

In [99]:
#elije una de las columnas al azar
np.random.choice(colum_list)

'CUIL'

# Seed - semilla de aleatoriedad

A veces se necesita generar un conjunto de numeros aleatorios y que sea repetible para ser usado en otras ocaciones

In [106]:
np.random.seed(2022)# de esta manera selecciono la semilla de aleatoriedad
for i in range(5):
    print(np.random.random())

0.009358613807764704
0.49905781085198797
0.11338368993483516
0.049974018177630475
0.6854075942430917

In [107]:
np.random.seed(2022)
for i in range(5):
    print(np.random.random())

0.009358613807764704
0.49905781085198797
0.11338368993483516
0.049974018177630475
0.6854075942430917

In [108]:
#np.random.seed(2022)
for i in range(5):
    print(np.random.random())

0.4869880682157304
0.8976572264432696
0.6474520707432663
0.8969631227909967
0.7211349291646855